* {
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  height: 160vh;
  width: 100%;

  background-color: #126c7c;
  background-position: center;
  background-size: cover;
  padding-right: 3%;
  padding-left: 5%;
  box-sizing: border-box;
  position: relative;
}
.header {
  width: 100%;
  height: 35vh;
  margin: auto;
  display: flex;
  align-items: center;
}
.logo {
  width: 100px;
  margin-top: 5px;
  cursor: pointer;
  
}
nav {
  flex: 1;
  padding-left: 550px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0 15px;
}
nav ul li a {
  text-decoration:none;
  color: #edecec;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}
#btn1 {
  text-transform: uppercase;
  background: linear-gradient(to bottom, #5ad1d3 3%, #0f0f10 100%);
  border-radius: 30px;
  border: 1px solid #5e97d1;
  cursor: pointer;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 700;
  padding: 12px 20px;
  margin: 10px;
  text-decoration: none;
  box-shadow: 1px 4px 12px rgba(94,28,68,.15);
  text-shadow: 0px 1px 0px #528ecc;
}
#btn2 {
  text-transform: uppercase;
  background: linear-gradient(to bottom, #cbcbcb 2%, #fff 100%);
  border-radius: 30px;
  border: 1px solid #cbcbcb;
  cursor: pointer;
  color: #5e97d1;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 700;
  padding: 12px 20px;
  margin: 10px;
  text-decoration: none;
  box-shadow: 1px 4px 12px rgba(94,28,68,.15);
  text-shadow: 0px 1px 0px #cbcbcb;
}
.btn:hover {
  box-shadow: 3px 8px 22px rgba(94,28,68,.15);
  transform: scale(1.1);
  transition: .2s ease-in-out;
}
.content {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

}
.content .text {
  position: relative;
  max-width: 600px;
}
.content .text h1 {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 80px;
  line-height: 1.5em;
  letter-spacing: .1em;
  font-size: 40px;
  color: #0e0e0e;
}
.content .text h1 span {
  font-size: 50px;
}
.content .text p {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: .1em;
  margin-top: 40px;
  color: #020202;
}
.btn3 {
  background: linear-gradient(to bottom, #cbcbcb 2%, #fff 100%);
  margin-top: 60px;
  margin-left: 140px;
  padding: 15px 30px;
  text-align: center;
  transition: .5s;
  border: none;
  outline: none;
  text-transform: uppercase;
  color: #1b1b1b;
  font-size: 20px;
  font-weight: 700;
  border-radius: 30px;
  box-shadow: 1px 4px 12px rgba(94,28,68,.15);
}

.content .image1 img{
  position: absolute;
  left: 10px; 
  bottom: -210px;
  width: 160px;
  height:170px;
 
}
.content .image2 img{
  position: absolute;
  left: 250px; 
  bottom: -210px;
  width: 160px;
  height:170px;
 
}
.content .image3 img{
  position: absolute;
  left: 500px; 
  bottom: -210px;
  width: 150px;
  height:150px;
 
}
.content .image4 img{
  position: absolute;
  left: 750px; 
  bottom: -220px;
  width: 160px;
  height:180px;
 
}

.sevenup {
  display: flex;
  height: 70%;
  position: absolute;
  width: 50px;
 
  padding-left: 1350px;
  justify-content: flex-end;
}